<%- include("partials/header"); -%>

<h1>Contact</h1>
<p> <%= contactContent %> </p>
<p><a style="color: #1ABC9C;" href="https://github.com/yassineyahyaoui"><i class="fab fa-github fa-1x"></i></a></p>
<p><a style="color: #1ABC9C;" href="https://github.com/yassineyahyaoui"><i class="fab fa-linkedin-in fa-1x"></i></i></a></p>


<%- include("partials/footer"); -%>